h1 {
    font-size: 4rem;
    font-weight: 200;
    flex-basis: min-content;
    color: rgb(252, 252, 252);
}

h2,
p {
    flex-basis: min-content;
    color: rgb(252, 252, 252);
    font-size: 18px;
}

.second-section {
    margin-left: 14rem;
}

.separator {
    background: linear-gradient(90deg, #c34bfa, #07bed6, #28f886);
        -webkit-mask-image: linear-gradient(to right, transparent 0%, black 12%, black 88%, transparent 100%);
        mask-image: linear-gradient(to right, transparent 0%, black 12%, black 88%, transparent 100%);
    width: 40%;
    height: 2px;
    margin-top: 5rem;
    margin-bottom: 3rem;
    border: none;
}

#universe-img {
    height: 26rem;
    width: 38rem;
    margin-left: 25rem;
}

a, a:active, a:visited {
    text-decoration: none;
}
